{% extends "base.html" %}

{% block content %}

<h1>{{ title }}</h1>
<div class='col-12' align="right">
<a href="blog-new/" >Add blog</a>
</div>
{% for a in blog_list %}
    {% include 'blog/list-inline.html' with blog_post=a truncate=True detail=False %}
{% endfor %}


    
{% endblock %}