{% extends "base.html" %}


{% block content %}
   <div class='col-12' align="right">
          <a href="blog-new/" >Add blog</a>
    </div>

    <div class='row'>
    {% for object in object_list %}
        {% include 'blog/list-inline.html' with blog_post=object truncate=True detail=False %}
    {% endfor %}
</div>


{% endblock %}